/*body {
    background-image: url("../images/two.png");
    background-color: #cccccc;
    
   }
   */
   .homePageEnglish {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
   }
   .homePageEnglishImage{
       width:40%;
       display: flex;
   }
   .homePageEnglishContent{
    width:60%;
    display: flex;
    justify-content: space-between;
    }
    .homePageEnglishContent p{
        width:60%;
        }

   .homePageEnglishImage img{
    width: 100%;
    height:100%;
   }
  

 