.Skill{
    width:50%;
    display:flex;
    flex-direction: column;
    background-color: black;
    color:white;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-left:20%;
    margin-right: 15%;
    margin-top: 2%;
    height:500px;
}
.Skill h2 {
    color:#ff0090;
}